<!DOCTYPE html>
<html>
<head>
    <title>Restaurants</title>
    <link rel="icon" type="image/jpg" href="https://bl.thgim.com/migration_catalog/article18123895.ece/alternates/LANDSCAPE_435/zomato2">
    <link rel="stylesheet" type="text/css" href="/restaurants.css">
</head>
<style>
    body {
        background-color: gray;
    }

    .header {
        background-color: #cb202d;
        padding: 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .second_div{
        background-color: green;
        padding: 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .runDiv{
        padding: 100px;
        width: 90%;
        height: 500px;
        background-color: blue;
    }
    
</style>

<body>
    <div class="header">
        <center>
            <div class="center">
                <h1>All Continents Reports </h1>
            </div>
        </center>
    </div><br><br>

    <div class="runDiv"><%=data%></div>

</body>
</html>